.banner {
  font-family: "Merriweather", serif;
}
.offer {
  font-family: "Inter", sans-serif;
}
.banner {
  background-image: url("../resources/Banner\ Image.png");

  margin:15px 140px 110px;
  padding: 130px 250px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
 }
.banner-title {
  color: #fff;
  font-size: 32px;
  text-align: center;
  font-weight: 400;
}
.banner-heading {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
}
/* Section Styles */
.section-text {
  color: #f00;
  text-align: center;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.section-deals {
  color: #f00;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}
.section-category{
color: #070211;
text-align: center;
font-size: 48px;
font-weight: 700;
}
.section-img{
    display: block;
    margin: auto;
    margin-bottom: 100px;
}
.mid-section{
background-image: url('../resources/Vectorrr.png');
 background-repeat: no-repeat;
 display: flex; 
 
 margin: 0px 120px;
padding: 80px 345px 120px 117px;
border-radius: 16px;



}

.section-title{
color: #FFF;
font-family: Merriweather;
font-size:58px;
font-style: normal;
font-weight: 900;
line-height: 88px;
margin-bottom: 15px; 

}
.section-paragraph{
color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
padding-bottom: 45px;
}
.btn-lite{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
border: none;
background-color: transparent;
box-shadow: none;
}
